################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MathConsole/v16
/.vs/MathConsole/config/applicationhost.config
/Common/bin/Debug/netcoreapp3.0/Common.pdb
/Common/bin/Debug/netcoreapp3.0/Common.dll
/Common/bin/Debug/netcoreapp3.0/Common.deps.json
/Common/obj/Debug/netcoreapp3.0/Common.pdb
/Common/obj/Debug/netcoreapp3.0/Common.dll
/Common/obj/Debug/netcoreapp3.0/Common.csprojAssemblyReference.cache
/Common/obj/Debug/netcoreapp3.0/Common.csproj.FileListAbsolute.txt
/Common/obj/Debug/netcoreapp3.0/Common.csproj.CoreCompileInputs.cache
/Common/obj/Debug/netcoreapp3.0/Common.assets.cache
/Common/obj/Debug/netcoreapp3.0/Common.AssemblyInfoInputs.cache
/Common/obj/Debug/netcoreapp3.0/Common.AssemblyInfo.cs
/Common/obj/Common.csproj.nuget.dgspec.json
/FileRepositories/bin/Debug/netcoreapp3.0/FileRepositories.pdb
/FileRepositories/bin/Debug/netcoreapp3.0/FileRepositories.dll
/FileRepositories/bin/Debug/netcoreapp3.0/FileRepositories.deps.json
/FileRepositories/bin/Debug/netcoreapp3.0/Common.pdb
/FileRepositories/bin/Debug/netcoreapp3.0/Common.dll
/FileRepositories/obj/Debug/netcoreapp3.0/FileRepositories.pdb
/FileRepositories/obj/Debug/netcoreapp3.0/FileRepositories.dll
/FileRepositories/obj/Debug/netcoreapp3.0/FileRepositories.csprojAssemblyReference.cache
/FileRepositories/obj/Debug/netcoreapp3.0/FileRepositories.csproj.FileListAbsolute.txt
/FileRepositories/obj/Debug/netcoreapp3.0/FileRepositories.csproj.CoreCompileInputs.cache
/FileRepositories/obj/Debug/netcoreapp3.0/FileRepositories.csproj.CopyComplete
/FileRepositories/obj/Debug/netcoreapp3.0/FileRepositories.assets.cache
/FileRepositories/obj/Debug/netcoreapp3.0/FileRepositories.AssemblyInfoInputs.cache
/FileRepositories/obj/Debug/netcoreapp3.0/FileRepositories.AssemblyInfo.cs
/FileRepositories.Tests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/FileRepositories.Tests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/FileRepositories.Tests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/FileRepositories.Tests/bin/Debug/netcoreapp2.1/FileRepositories.Tests.runtimeconfig.json
/FileRepositories.Tests/bin/Debug/netcoreapp2.1/FileRepositories.Tests.runtimeconfig.dev.json
/FileRepositories.Tests/bin/Debug/netcoreapp2.1/FileRepositories.Tests.pdb
/FileRepositories.Tests/bin/Debug/netcoreapp2.1/FileRepositories.Tests.dll
/FileRepositories.Tests/bin/Debug/netcoreapp2.1/FileRepositories.Tests.deps.json
/FileRepositories.Tests/bin/Debug/netcoreapp2.1/FileRepositories.pdb
/FileRepositories.Tests/bin/Debug/netcoreapp2.1/FileRepositories.dll
/FileRepositories.Tests/bin/Debug/netcoreapp2.1/Common.pdb
/FileRepositories.Tests/bin/Debug/netcoreapp2.1/Common.dll
/FileRepositories.Tests/bin/Debug/netcoreapp3.0
/FileRepositories.Tests/obj/Debug/netcoreapp2.1
/FileRepositories.Tests/obj/Debug/netcoreapp3.0
/AzureStorageRepositories.Tests/bin/Debug/netcoreapp2.1
/AzureStorageRepositories.Tests/bin/Debug/netcoreapp3.0
/AzureStorageRepositories.Tests/obj/Debug/netcoreapp3.0/AzureStorageRepositories.Tests.Program.cs
/AzureStorageRepositories.Tests/obj/Debug/netcoreapp3.0/AzureStorageRepositories.Tests.pdb
/AzureStorageRepositories.Tests/obj/Debug/netcoreapp3.0/AzureStorageRepositories.Tests.dll
/AzureStorageRepositories.Tests/obj/Debug/netcoreapp3.0/AzureStorageRepositories.Tests.csprojAssemblyReference.cache
/AzureStorageRepositories.Tests/obj/Debug/netcoreapp3.0/AzureStorageRepositories.Tests.csproj.FileListAbsolute.txt
/AzureStorageRepositories.Tests/obj/Debug/netcoreapp3.0/AzureStorageRepositories.Tests.csproj.CoreCompileInputs.cache
/AzureStorageRepositories.Tests/obj/Debug/netcoreapp3.0/AzureStorageRepositories.Tests.csproj.CopyComplete
/AzureStorageRepositories.Tests/obj/Debug/netcoreapp3.0/AzureStorageRepositories.Tests.assets.cache
/AzureStorageRepositories.Tests/obj/Debug/netcoreapp3.0/AzureStorageRepositories.Tests.AssemblyInfoInputs.cache
/AzureStorageRepositories.Tests/obj/Debug/netcoreapp3.0/AzureStorageRepositories.Tests.AssemblyInfo.cs
/AzureStorageRepositories.Tests/obj/Debug/netcoreapp2.1
/AzureStorageRepositories.Tests/obj
/MathConsole/bin/Debug/netcoreapp3.0
/MathConsole/obj
/TypeScript.Calculator/bin/Debug/netcoreapp3.0
/TypeScript.Calculator/obj
/VariableBase.Mathematics/VariableBase.Mathematics/bin/Debug/netcoreapp3.0
/VariableBase.Mathematics/VariableBase.Mathematics/obj/Debug/netcoreapp3.0
/VariableBase.Mathematics.Tests/bin/Debug
/VariableBase.Mathematics.Tests/obj
/Windows.Calculator/bin/Debug/netcoreapp3.0
/Windows.Calculator/obj
/Windows.Calculator.Net/obj/Debug
/FileRepositories.Tests/obj
