@page "/"

<PageTitle>Calculator</PageTitle>

<h1>Full Precision Calculator</h1>
<div class="calculator"">
    <div>Radix / Number System
       <select>
             <option value="2">Binary</option>
             <option value="3">Ternary</option>
             <option value="5">Quinary</option>
             <option value="6">Senary</option>
             <option value="8">Octal </option>
             <option selected="selected" value="10">Decimal</option>
             <option value="16">Hexadecimal</option>
             <option value="36">Hexatridecimal</option>
             <option value="63404">Radix 63404</option>
        </select>
    </div>
    <div class="calculator-input">
        <textarea id="txtCalculatorFirst" class="calculator" />
    </div>
    <div>Action
        <select>
             <option value="2">Add</option>
             <option value="3">Subtract</option>
             <option value="5">Multiply</option>
             <option value="6">Divide</option>
        </select>
    </div>
    <div class="calculator-input">
        <textarea id="txtCalculatorSecond" class="calculator" />
    </div>
    <button id="btnGoClicked"  @onclick="btnGoClicked" class="calculator calculator-symbol">Go</button>
    <div class="calculator-result">
        <textarea id="txtCalculatorOutputWhole" class="calculator-result-whole" />
        <textarea id="txtCalculatorOutputNumerator" class="calculator-result-numerator" />
        <textarea id="txtCalculatorOutputDenominator" class="calculator-result-denominator" />
    </div>
</div>

<div>
    [
    <a href="https://github.com/MichaelKappel/Variable-Base-Math" 
            Title="Written Michael Joseph Kappel Available on GitHub">
                View Source Code on Github
     </a>
     ]
</div>

@code {

    private NS12.VariableBase.Mathematics.Providers.Number FirstNumber { get; set; };

    private NS12.VariableBase.Mathematics.Providers.Number SecondNumber { get; set; };


    private void btnGoClicked()
    {

    }
    
}